html, body {
    margin: 0;
    padding: 0;
}

.nav-flex {
    display: flex;
    padding: .5em;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.nav-flex input {
    height: 35px;
    width: 70px;
}

.nav-flex select {
    width: 70%;
    height: 30px;
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 0 0.65em;
    font-size: 14px;
}

.nav-flex button {
    width: 50%;
    border: 1px solid lightgray;
    background-color: #fff;
    border-radius: 5px;
    padding: 0.65em;
    font-size: 0.80rem;
    cursor: pointer;
}

.display-scheme-area {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    height: 80vh;
    padding: 3px;
}

.color-box {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 10px;
    font-weight: 500;
    font-size: 14px;
    position: relative;
}

.hex-text {
    position: absolute;
    bottom: -60px;
    cursor: pointer;
    font-size: 1.5rem;
}

@media (max-width: 1024px) {
    
    .nav-flex select,
    .nav-flex button {
        width: 45%;
    }
}

@media (max-width: 500px) {
    .hex-text{
        font-size: 1rem;
        bottom: -50px;
    }  
}